# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
*.egg
pip-wheel-metadata/
share/python-wheels/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
coverage.xml

# Django stuff (if used)
*.log
local_settings.py
db.sqlite3
media

# FastAPI / ASGI
# Uvicorn default PID file
uvicorn.pid

# Env files
.env
ENV/
env/
env.bak/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# PostgreSQL
# Ignore database dumps and runtime files
*.sql
*.dump

# Logs
*.jsonl.*
*.jsonl

# Docker
docker-compose.override.yml
**/docker-compose.override.yml
**/.env

# Poetry
poetry.lock

# PyCharm
.idea/

# Migrations
migrations/

# VSCode settings
.vscode/*
!.vscode/settings.json
